@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 3em;
}

img {
    width: min(100%, 100vw);
    height: 30vh;
    object-fit: cover;
    object-position: center;
    border-radius: 1em;
    padding: .5em;
}

a {
    color: #4E1673;
    font-weight: 600;
}

h1 {
    font-size: min(10vw, 4em);
    color: #1F1A40;
}

.container {
    padding: 2.5em;

    & ul {
        width: min(100%, 45em);
        list-style-type: none;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(13em, 1fr));
        margin-block: 2em;
        gap: .5em 1em;

        & li {
            gap: 1em;
            font-size: 1.5em;
            background-color: rgb(236, 236, 236);
            color: rgb(66, 66, 66);
            text-align: center;
            padding: .1em .7em;
            border-radius: .4em;
            cursor: pointer;
            transition: all .2s ease-in-out;

            &:hover {
                background-color: #FDB225;
                color: white;
            }

            & img {
                width: 13em;
                height: 13em;
            }
        }
    }

    & p {
        font-size: min(5vw, 1.7em);
    }
}