@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Bebas+Neue&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    scroll-padding: 2.5em;
}

body {
    font-family: "Roboto", sans-serif;
    display: flex;
}

img {
    width: 100%;
    display: flex;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1em;
    max-width: 18em;
    padding: 1.5em 2em;
    height: 100%;
    position: fixed;
    z-index: 2;
    background-color: #1b1225;
}

nav ol {
    display: flex;
    flex-direction: column;
    gap: 1em;

    & a {
        display: flex;
        align-items: center;
        padding: 1em 2em;
        border-radius: .5em;
        gap: 1.5em;
        transition: all .2s ease-in-out;
        cursor: pointer;

        &:not(.autora):hover {
            background-color: #D94897;
        }

        & img {
            max-width: 2.5em;
        }
    }

    & button {
        font-family: 'Poppins', sans-serif;
        font-size: 1.2em;
        text-align: justify;
        background-color: transparent;
        width: 100%;
        color: white;
        cursor: pointer;
    }
}

nav .logo {
    display: flex;
    flex-direction: column;
    padding-block: .5em;
    align-items: end;
    font-family: "Bebas Neue", sans-serif;
    
    & .title {
        font-size: 3em;
        color: #F285C1;
    }
    
    & h2 {
        text-align: end;
        font-size: 2em;
        color: white;
    }
}

.pagina {
    width: 100%;
    margin-left: 14.5em;
    position: relative;
}

.banner {
    background: #281B37 url("./src/images/banner.png") no-repeat center;
    background-size: contain;
    width: 100%;
    height: 45vh;
    overflow: hidden;
}

.container { 
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5em;
    margin-block: 6em 7em;

    & p {
        font-size: 1.5em;

        & a {
            color: #5a2b8f;
        }
    }
}

.container div {
    display: flex;
    flex-direction: column;
    max-width: 64em;
    gap: 1em;

    & h1 {
        font-size: 4em;
        margin-bottom: .3em;
        font-family: 'Bebas Neue', sans-serif;
        color: #D94897;
    }

    & p {
        font-size: 1.7em;
        text-align: justify;
        line-height: 1.5em;

        & b {
            color: #5a2b8f;
            font-weight: 600;
        }
    }

    & img:not(#megafone) {
        height: 45em;
        margin-block: 3em;
        max-width: 64em;
        max-height: 34em;
        object-position: top center;
        object-fit: cover;
        border-radius: 1.5em;
    }
}

.container .card-alerta {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5em;
    margin-block: 1em;
    background-color: rgb(248, 240, 255);
    padding: 1em 1.5em;
    border-radius: 1em;

    & img {
        width: 2.5em;
    }
}

.autora {
    display: flex;
    border-radius: .5em;
    width: 100%;
    color: rgb(190, 190, 190);
    
    & span, svg {
        transition: all .2s ease-in-out;
        cursor: pointer;
    }

    & span {
        font-size: 1.2em;
    
        &:nth-child(3) {
            font-weight: 600;
            color: #2b0b53;
        }
    }

    &:hover :is(span, svg) {
        color: white;
        fill: #5a2b8f;
    }
}

.menu-icon {
    display: none;
}

@media screen and (max-width: 768px) {

    body {
        overflow-x: hidden;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    nav {
        display: flex;
        flex-direction: row;
        gap: 0;
        height: auto;
        min-width: 100vw;
        align-items: center;
        padding: 0;
        position: absolute;

        & .menu-icon {
            display: flex;
            cursor: pointer;
            padding-inline: 1em;
            padding-block: 1em;

            & svg {
                width: 1.5em;
                height: 1.5em;
                color: white;
            }

            & svg:nth-child(2) {
                display: none;
            }
        }

        & ol {
            display: none;
        }

        & .logo {
            width: 100%;
            align-items: center;
            padding-inline: 2em;
            padding-block: 1em;

            & .title {
                display: none;
            }

            & h2 {
                align-self: start;
                text-align: center;
                font-size: 1.5em;
            }
        }

    }

    .pagina {
        margin-left: 0;
        width: 100%;
    }

    .container {
        padding-inline: 2em;
    }

    .banner {
        height: 30vh;
    }
    
}


