@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Inter&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

    &:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 30px white inset;
        -webkit-text-fill-color: inherit;
    }
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #A881E6;
    padding-block: 2rem;
    font-family: "Roboto", sans-serif;
}

form, #state-select, #select-button, #options, input[type=text], textarea, button {
    border-radius: .375rem;
    
    &:focus:not(button) {
        outline: 0.1em solid #A881E6;
        border: 1.5px solid transparent;
    }
}

input[type=text], textarea {
    padding: 1em;
    margin-top: .5em;
    width: 100%;
}

textarea {
    resize: none;
}

#select-button, input, textarea {
    font-family: "Inter", sans-serif;
    border: 1.5px solid rgb(201, 201, 201);
    font-size: 1em;
}

#estado, .option input[type=radio] {
    all: unset;
    position: absolute;
    inset: 0;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 2.5rem;
    border-radius: .5rem;
    width: min(90%, 35rem);
    background-color: rgb(243, 240, 255);

    & h1 {
        color: #dd087d;
    }

    & label:is(.required)::after, p:not(.card-alerta p, .content p, .container p)::after {
        content: " *";
        color: #F23D91;
    }

    & p:not(.card-alerta p) {
        font-family: 'Poppins', sans-serif;
        display: none;
        font-size: min(.9em, 4vw);
        font-weight: 500;
        color: #F23D91;
    }
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 1em;
}

.autora {
    display: flex;
    align-items: center;
    gap: .6em;
    border-radius: .5em;
    color: rgb(103, 103, 103);
    
    & span, svg {
        transition: all .2s ease-in-out;
        cursor: pointer;
    }

    & svg {
        width: min(2em, 7vw);
        height: min(2em, 7vw);
        fill: #af0763;
    }

    & span {
        font-size: min(1.2em, 5vw);
    }

    &:hover :is(span, svg) {
        color: rgb(159, 159, 159);
        fill: #dd087d;
    }
}

.content {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    width: 100%;

    & div {
        display: flex;
        flex-direction: column;
        gap: .5em;
    }
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(14.5em, 1fr));
    gap: 1.5em 5em;

    & div:not(#select-button, #chevrons, #state-select) {
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: .5em 0;
    }
}

.select {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: .3em;
    position: relative;

    &:has(.option input:checked) #selected-value {
        color: #111111;
    }
}

#state-select label {
    font-size: 1em;
    letter-spacing: .0225rem;
}

#select-button {
    margin-top: 1rem;
    display: flex;
    padding: .88rem;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

#selected-value {
    color: #8c8892;
    font-size: 1em;
    letter-spacing: .02625rem;
}

#chevrons {
    color: #AFABB6;

    & svg {
        width: 1.4rem;
        height: 1.4rem;
        vertical-align: middle;
    }

    & [data-lucide="chevron-up"] {
        display: none;
    }
}

#state-select {
    position: relative;

    &:has(#estado:checked) + #options {
        outline: 0.1em solid #A881E6;
        display: block;
    }
}

#estado {
    z-index: 3;

    &:focus + #select-button, &:checked + #select-button {
        outline: 1px solid #A881E6;
        border: 1px solid transparent;
    }

    &:checked + #select-button #chevrons {
        color: #A881E6;
    
        & [data-lucide="chevron-down"] {
            display: none;
        }
    
        & [data-lucide="chevron-up"] {
            display: block;
        }
    }
}

#options {
    background-color: white; 
    display: none;
    position: absolute;
    z-index: 200;
    top: 6.2rem;
    left: 0;
    width: 100%;
    max-height: 8rem;
    overflow: clip scroll;
    scrollbar-width: none;
    scrollbar-color: #A881E6 #FFFFFF;
    scroll-snap-type: y proximity;
}

.option {
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: .75rem;
    position: relative;
    scroll-snap-align: center;

    &:hover {
        background-color: #faf3ff;

        & label {
            color: #A881E6;
        }
    }

    &:has(input:checked) {
        background-color: #f5e8ff;

        & label {
            color: #A881E6;
        }
    }

    &:has(input:focus) { 
        outline: 0.1em solid #A881E6;
    }

    &:has(input:checked) [data-lucide="check"] {
        display: block;
    }
}

.option label {
    color: #575757;
}

.option svg {
    width: 1rem;
    height: 1rem;
    
    &:last-child {
        margin-left: auto;
        color: #A881E6;
        display: none;
    }
}

.card-alerta {
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 1em;
    border-radius: .5rem;
    width: min(100%, 50rem);
    border: #7864a7 .1em solid;

    & svg {
        min-width: 2em;
        min-height: 2em;
        fill: #7864a7;
        align-self: flex-start;
        stroke-width: .15em;
        stroke: rgb(243, 240, 255);
    }

    & p {
        font-size: .9em;
        font-weight: 500;
        color: #3d2672;
    }
}

.btns {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(13em, 1fr));
    gap: 1em;
        
    & button[type=reset] {
        border: #6e6e6e .1em solid;
        background-color: transparent;
        color: #6e6e6e;
        font-weight: 500;

        &:hover {
            background-color: #ebe5e5e7;
            border: #6e6e6e .1em solid;
        }
    }

    & button[type=submit] {
        background-color: #F23D91;
        font-weight: 700;
        color: white;

        &:hover {
            background-color: #F23D91e7;
        }
    }
}

button {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 700;
    border-radius: .5em;
    border: none;
    cursor: pointer;
    padding: .6em;
    transition: all .2s ease-in-out;
    color: white;
}

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: .5em;
    background-color: #fefefe;
    border: 1px solid #888;
    width: min(85vw, 40em);
    min-height: 50vh;
    position: relative;
    padding: 2em;
    
    & p {
        text-align: center;
        font-size: min(1.5em, 5.5vw);
        font-weight: 500;
        color: #3d2672;
    }
}

.modal-content div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    margin-bottom: 2em;
}

.alert-icon {
    width: min(70%, 15em);
    height: min(70%, 15em);
    fill: #f2c23d;
    stroke: rgb(28, 8, 50);
    
    &:nth-child(2) {
        fill: #F23D91;
        stroke: #ffffff;
    }
}

#badge-check, #triangle-alert {
    display: none;
}

.close-button {
    width: 1.5em;
    height: 1.5em;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: .25em;
    right: .25em;
}

.close-button:hover,
.close-button:focus {
    color: #808080;
    text-decoration: none;
    cursor: pointer;
}

#alert-confirm {
    width: min(15em, 50vw);
    background-color: #7864a7;

    &:hover {
        background-color: #7864a7e7;
    }
}

